@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto';
    max-width: 100%;
    overflow-x: hidden;
    background-color: whitesmoke;
}
